*, *::after, *::before {
  box-sizing: border-box;
}

/* root CSS & dark theme variables */
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .8);

  /* dark theme */
  --dark-background-color: #111111;
  --dark-background-color-alt: #222222;
  --dark-trim-color: #333333;
  --dark-text-color: #eeeeee;
  --dark-header: darkcyan;
  --dark-x-color: darkorange;
  --dark-o-color: darkorchid;
  --dark-message: rgba(0, 0, 0, 0.8);
}

/* body CSS & light theme variables */
body {
  margin: 0;
  
  /* light theme */
  --background-color: #ffffff;
  --background-color-alt: #eeeeee;
  --trim-color: #dddddd;
  --text-color: #333333;
  --header:cyan;
  --x-color: gold;
  --o-color: lightpink;
  --message: rgba(255, 255, 255, 0.8);
  --font-family: 'Quicksand', sans-serif;

  color: var(--text-color);
  background: var(--background-color);
  font-family: var(--font-family);
}

/* dark mode variable switches */
body.theme-dark {
  --background-color: var(--dark-background-color);
  --background-color-alt: var(--dark-background-color-alt);
  --trim-color: var(--dark-trim-color);
  --text-color: var(--dark-text-color);
  --header: var(--dark-header);
  --x-color: var(--dark-x-color);
  --o-color: var(--dark-o-color);
  --message: var(--dark-message);
}

/* selection CSS */
.select {
  display: inline-flex;
  position: absolute;
  margin-top: 85vh;
  margin-left: 60vw;
  align-items: center;
  padding: 5px 8px;
  border-radius: 10px;
}
.select__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 7px 14px;
  background: var(--background-color);
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1rem;
  font-family: var(--font-family);
}

/* header CSS */
.header {
  position: absolute;
  width: 100%;
  margin-top: -3vh;
  text-align: center;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 3.5rem;
}
.spanHeader {
  background: linear-gradient(to top, var(--header) 30%, transparent 30%);
  padding-left: 2%;
  padding-right: 2%;
}

/* score CSS */
.score {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 12vh;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1.5rem;
}
.xScore {
  position: flex;
  padding-right: 80px;
}
.oScore {
  position: flex;
  padding-left: 80px;
}
.xText {
  position: flex;
  padding-right: 30px;
}
.oText {
  position: flex;
  padding-left: 30px;
}

/* turn indicator CSS */
.indicator {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 75vh;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 2rem;
}

/* game-board & game-shapes CSS */
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}
.cell.x,
.cell.circle {
  cursor: not-allowed;
}
.cell.x::before,
.cell.x::after {
  background-color: var(--x-color);
}
.cell.circle::before {
  background-color: var(--o-color);
}
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: var(--background-color-alt);
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: var(--background-color);
}

/* end game message & restart button */
.winning-message {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--message);
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 5rem;
  flex-direction: column;
}
.winning-message button {
  font-size: 4rem;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  margin: 0.5%;
  padding: .2em .5em;
  cursor: pointer;
}
.winning-message button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  border-color: var(--text-color);
}
.winning-message.show {
  display: flex;
}

/* Moving positions for landscape on mobile */
@media (max-width:900px) and (orientation:landscape) and (max-height:550px) {
  .header {
    margin-top: 10px;
    margin-left: -37vw;
    font-size: 1.5rem;
  }
  .score {
    margin-left: -37vw;
    margin-top: 55px;
    font-size: 0.8rem;
  }
  .xScore {
    padding-right: 40px;
  }
  .oScore {
    padding-left: 40px;
  }
  .xText {
    padding-right: 10px;
  }
  .oText {
    padding-left: 10px;
  }
  .indicator {
    margin-left: 36vw;
    margin-top: 60px;
  }
  .select {
    margin-top: 20px;
    margin-left: 82vw;
  }
}